<div class="panel panel-default">
  <div class="panel-heading">Cart</div>
  <div class="panel-body">
      <div *ngIf="cartItems.length > 0; else elseBlock">
        <app-cart-list #cartList [cartItems]="cartItems"
          (remove)="onRemove($event)"
          (increaseItemsQuantity)="onIncreaseItemsQuantity($event)"
          (decreaseItemsQuantity)="onDecreaseItemsQuantity($event)">
        </app-cart-list>
        <div>Price: ${{getPrice()}}</div>
        <button class="btn btn-primary" (click)="onBuy()" >Buy</button>
      </div>
      <ng-template #elseBlock>Cart is empty</ng-template>
  </div>
</div>
